<%- include('../partials/head', {title: 'Admin add user' }) %>

<body>
    <h3>Admin: add user</h3>
    <%- include('../partials/navbar.ejs', {user}) %>

        <form action="/admin/users/add" method="post">
            Name: <input type="text" name="name">
            <br><br>
            Surname: <input type="text" name="surname">
            <br><br>
            Email: <input type="email" name="email">
            <br><br>
            Password: <input type="password" name="password">
            <br><br>
            <button type="submit">Save user</button>

        </form>
        <%- include('../partials/footer', {title: 'Admin add user' }) %>

</body>

</html>