* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: blue;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.quote-container {
  width: 100%;
  max-width: 800px;
  padding: 30px 35px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.quote-container .quote-text {
  font-size: 1.8rem;
}
.quote-container .quote-author {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  font-size: italic;
}
.quote-container .button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.quote-container .button-container button {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  background: black;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}
.quote-container .button-container button:hover {
  filter: brightness(150%);
}

#lightbox,
#edit-box {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#lightbox.active,
#edit-box.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-box {
  z-index: 200;
}

#editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  background: white;
}
#editor .form-container form,
#editor .form-editor form {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
#editor .form-container input,
#editor .form-editor input {
  margin-right: 5px;
}
#editor .form-container #new-quote-text,
#editor .form-container #edit-quote-text,
#editor .form-editor #new-quote-text,
#editor .form-editor #edit-quote-text {
  flex-grow: 1;
}
#editor .form-container button,
#editor .form-editor button {
  padding: 3px;
  margin: 5px;
}
#editor .form-editor form {
  margin-top: 0;
}

.quotes-list {
  margin-top: 10px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  list-style: none;
}
.quotes-list .list-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  font-weight: normal;
  flex-wrap: wrap;
}
.quotes-list .list-item:nth-child(odd) {
  background: #e5e4e2;
}
.quotes-list .list-item:hover {
  background: silver;
}
.quotes-list .list-item .quote-list-item {
  width: 85%;
}
.quotes-list .list-item .quote-list-item .author {
  font-weight: bold;
}
.quotes-list .list-item .keys {
  display: flex;
  width: 15%;
  text-align: center;
  justify-content: end;
}
.quotes-list .list-item .keys a {
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}
.quotes-list .list-item .keys .fa-pen-to-square {
  color: royalblue;
}
.quotes-list .list-item .keys .fa-pen-to-square:hover {
  font-weight: bold;
  color: blue;
}
.quotes-list .list-item .keys .fa-trash {
  color: black;
}
.quotes-list .list-item .keys .fa-trash:hover {
  font-weight: bold;
  color: red;
}/*# sourceMappingURL=style.css.map */